main {
  text-align: center;
  font-family: 'Roboto';
  padding-top: 100px;
  max-width: 666px;
  margin: 0 auto;
}

p {
  text-align: left;
  line-height: 2;
  font-size: 18px;
}

input, textarea, .char-wrapper {
  font-family: 'Share Tech Mono', monospace !important;
  font-size: 20px !important;
}

.key-form {
  margin: 0 -5px;
}

.key-form > div, .key-form > button {
  margin: 0 5px;
}

textarea {
  padding: 16.5px 14px;
  width: 100%;
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.key-input {
  margin-bottom: 10px;
}

#form {
  max-width: 440px;
  margin: 60px auto;
}

#form > div {
  padding: 10px 0;
}

main pre {
  text-align: left;
  background: #eee;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.char-roller {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.char-wrapper {
  width: 10px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.char-column {
  position: absolute;
  transition: all 1s ease-in-out;
}

.single-char {
  display: block;
}